@charset "utf-8";

/********************************************************
 # 메인 화면 board list
********************************************************/
.main-list-head {
    margin-bottom: 10px;
}
.main-list-head hr {
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: rgba(181, 181, 181, 0.517);
}
.main-list-go {
    text-decoration: none;
    color: rgba(165, 165, 165, 0.653);
}
.main-list-go:hover {
    color: coral;
}
.mian-list-title ul {
    list-style: none;
    padding: 0;
}
.mian-list-title ul li {
    margin-bottom: 5px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

/* 메인 화면 li 갯수 5개로 제한
.mian-list-title ul li:nth-of-type(n+6) {
    display: none;
}
 */
.mian-list-title ul li a {
    text-decoration: none;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mian-list-title ul a:hover {
    color: coral;
}
.mian-list-title ul a span {
    text-decoration: black;
}

/********************************************************
 # 로그인 폼
********************************************************/
.login-form-user {
    border: 1px solid #ced4da;
    text-align: center;
    width: 40px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.149);
    color: rgba(0, 0, 0, 0.286);
    float: left;
    display: block;
    line-height: 30px;
}
.login-input {
    font-size: 12px;
}
.login-input:focus {
    outline: none;
}
.lgin-form-submit {
    color: white;
    background-color: rgb(103, 103, 238);
}
.lgin-form-submit:hover {
    color: white;
}
.clearfix a {
    color: rgba(0, 0, 0, 0.632);
    text-decoration: none;
}
.clearfix a::after {
    float: left;
    content: "|";
    color: rgba(0, 0, 0, 0.632);
    margin-left: 5px;
    margin-right: 5px;
}
.clearfix a:last-child::after {
    content: "";
    margin: 0;
}