@charset "utf-8";
/********************************************************
 # 최상단 즐겨찾기, 현재 시간 ,로그인, 회원가입
********************************************************/
.c-lnb {
    font-size: 11px;
    color: black;
}
.c-lnbwith {
    margin-left: 9%;
    margin-right: 9%;
    background-color: red;
}
.c-lnbwith ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.c-lnbwith ul li {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}
.c-lnbwith ul li a {
    color: black;
    text-decoration: none;
}
.c-lnbwith ul > li::after {
    float: right;
    color: #ccc;
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
}
.c-lnbwith ul > li:last-child::after {
    content: "";
    margin-right: 0;
}
.c-lnbwith ul > li > a {
    color: #333;
    float: left;
}

/* 모바일 환경에서 끄기 */
@media (max-width: 991px) {
    .c-lnb .c-lnbwith {
        display: none;
        visibility: visible;
    }
}

/***************************
# 데스크탑 헤더 로고 및 검색창
****************************/
.desktop-header {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}
.desktop-header .desktop-header-padding {
    padding: 0 0 15px;
}
.desktop-header img {
    width: 140px;
    height: 110px;
}
.desktop-header a {
    text-decoration: none;
}
.desktop-header .logoname {
    display: block;
    font-size: 12px;
    letter-spacing: -1px;
    color: rgb(0, 0, 0);
    margin-top: 2px;
    text-align: center;
}
.searchbar {
    margin-top: 60px;
    padding-right: 30px;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
}
.searchTerm {
    width: 100%;
    border: 3px solid rgb(103, 103, 238);
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.searchTerm:focus {
    color: rgb(103, 103, 238);
}
.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(103, 103, 238);
    background: rgb(103, 103, 238);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change! */
.wrap {
    margin-left: 20px;
}

/* 모바일 환경에서 끄기 */
@media (max-width: 991px) {
    .d-header {
        display: none;
        visibility: visible;
    }
}

/***************************
# 모바일 환경 최상단 헤더
****************************/
.mobile-header {
    display: none;
    background-color: rgb(103, 103, 238);
    width: 100%;
    height: 45px;
}
.mobile-header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.mobile-header .header-button {
    margin-top: 8px;
}

@media all and (max-width:991px) {
    .mobile-header {
        display: block;
    }
}

/***************************
# 데스크탑 nav bar
****************************/
.customnav {
    background-color: rgb(103, 103, 238);
    height: 40px;
}
.navbar .navwrap {
    margin-left: 148px;
}
.navbar ul li {
    margin-left: 35px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    background-color: rgba(227, 226, 231, 0.178);
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 15px;
    color: white;
}

/* 모바일 환경에서 끄기 */
@media (max-width: 991px) {
    .navbar {
        display: none;
        visibility: visible;
    }
}

/***************************
# 모바일 환경 side bar
****************************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(194, 231, 248);
    overflow-x: hidden;
    /* transition:0.2s ease-in-out; 슬라이드 속도 */
    padding-top: 60px;
    margin-top: 15px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block;
    transition: 0.2s ease-in-out;
    margin-top: 2px;
}
.sidebarmenu {
    margin-top: 20px;
}
.sidebarmenu hr {
    margin: 1px;
}
.sidenav a i {
    font-size: 20px;
}
.sidenav a:hover {
    color: black;
    background-color: rgba(191, 176, 251, 0.335);
}

/* .sidenav a:hover, .offcanvas a:focus { color: #000;} */

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
.closebtn:hover {
    text-decoration: none;
}

/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/***************************
# 테블릿 환경 nav bar
****************************/
.tablet-wrap {
    display: none;
    box-shadow: 0 5px 5px -2px rgba(25, 25, 25, 0.15);
}
.tablet-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
.tablet-nav-menu li:active {
    color: rgb(255, 112, 29);
}
.tablet-nav-menu a {
    color: rgb(116, 116, 116);
    text-decoration: none;
    font-size: 15px;
}
.tablet-nav-menu a:hover {
    color: rgb(255, 112, 29);
    text-decoration: none;
}
.open-wrap {
    border: rgba(167, 167, 167, 0.185) 1px solid;
    text-align: center;
    width: 45px;
}
.openmenu:hover {
    color: rgb(0,154,200);
    transition: 0.5s ease-in-out;
}
.open-menu {
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.open-menu > i {
    font-size: 30px;
}
.sidebutton {
    margin-left: 30px;
    margin-top: 10px;
}
.sidebutton button {
    background-color: rgb(103, 103, 238);
    border: rgb(103, 103, 238);
    color: white;
    font-size: 17px;
    outline-style: none;
    line-height: 40px;
    width: 100px;
}
.sidebarmenutext {
    text-decoration: underline 1px solid;
}

/* 태블릿 해상도  */
@media all and (min-width:584px) and (max-width:990px) {
    .tablet-wrap {
        display: block;
    }
}

/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/***************************
# 모바일 환경 nav bar
****************************/
.mobile-wrap {
    display: none;
    box-shadow: 0 5px 5px -2px rgba(25, 25, 25, 0.15);
}
.mobile-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}
.mobile-nav-menu li:active {
    color: rgb(255, 112, 29);
}
.mobile-nav-menu a {
    color: rgb(116, 116, 116);
    text-decoration: none;
    font-size: 12px;
}
.mobile-nav-menu a:hover {
    color: rgb(255, 112, 29);
    text-decoration: none;
}
.open-wrap {
    border: rgba(167, 167, 167, 0.185) 1px solid;
    text-align: center;
    width: 45px;
}
.open-menu:hover {
    color: coral;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.open-menu {
    font-size: 25px;
    cursor: pointer;
    transition: 0.0s ease-in-out;
}
.open-menu > i {
    font-size: 30px;
}
.sidebutton {
    margin-left: 30px;
    margin-top: 10px;
}
.sidebutton button {
    background-color: rgb(103, 103, 238);
    border: rgb(103, 103, 238);
    color: white;
    font-size: 17px;
    outline-style: none;
}
.sidebarmenutext {
    text-decoration: underline 1px solid;
}

/* 모바일 해상도  */
@media all and (max-width:583px) {
    .mobile-wrap {
        display: block;
    }
}

/* 미디어쿼리 적용 */
@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
