@charset "utf-8";

/********************************************************
 # footer
********************************************************/
.customfooter {
    margin-top: 30px;
    background-color: rgba(103, 103, 238, 0.047);
    height: 40px;
    text-align: center;
    border: rgba(0, 0, 0, 0.143) 1px solid;
}
.customfooter .footerwrap {
    font-size: 10px;
    margin-top: 5px;
}
.footercopy {
    color: rgba(0, 0, 0, 0.564);
    margin: 10px;
    font-size: 12px;
    text-align: center;
}