@charset "utf-8";

/********************************************************
 # login í¼
********************************************************/


.login-wrap {
    background-color: whitesmoke;
    height: 760px;
}

.header {
    padding-top: 50px;
    text-align: center;
    

}

.header span {
    font-size: 60px;
    font-weight: 900;
    color: rgb(103, 103, 238);
}

.header span a {
    color: rgb(103, 103, 238);  
    text-decoration: none;
}



@media all and (min-width:1200px) and (max-width:1700px) {
    .container {
        margin-top: 40px;
        padding-left: 340px;
        padding-right: 340px;
    }
}

@media all and (min-width:800px) and (max-width:1199px) {
    .container {
        margin-top: 40px;
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media all and (max-width:799px) {
    .container {
        margin-top: 40px;
    }

}
.input-group {

    height: 50px;

}

.input-group input {

    height: 50px;

}

.lgin-form-submit {
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: rgb(103, 103, 238);
    height: 60px;
}
.lgin-form-submit:hover {
    color: white;
    
}

.info {
    font-size: 12px;
    margin-left: 0px;
}

.info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;

}

.info ul li {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.info ul li a {
    color: black;
    text-decoration: none;
}
.info ul > li::after {
    float: right;
    color: #ccc;
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
}
.info ul > li:last-child::after {
    content: "";
    margin-right: 0;
}
.info ul > li > a {
    color: #333;
    float: left;
}

.social {
    margin-top: 30px;
    font-size: 12px;
}


#footer {
    font-size: 11px;
    text-align: center;
    margin-top: 120px;
    background-color:whitesmoke;
    border-color: whitesmoke;
}